* {
    margin: 0;
    padding: 0;
}

.main {
    background-color: rgba(9, 9, 9, 0.738);
    background-blend-mode:darken;
}

.coffee{
    height: 100%;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
    background-position: center;
    background-size: cover;
    position: absolute;
}

.form-box{
    width: 360px;
    height: 600px;
    position: relative;
    margin: 6% auto;
    background-image: url('pedestrian.jpg');
    background-size: cover;
    padding: 5px;
    overflow: hidden;
}

.button-box{
    width: 220px;
    margin: 35px auto;
    position: relative;
    box-shadow: 0 0 20px 9px #24c1ff1f;
    border-radius: 30px;
    margin-top: 40%;
}

.toggle-btn{
    color: antiquewhite;
    padding: 10px 30px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
}

#btn{
    top: 20;
    left: 0;
    position: absolute;
    width: 110px;
    height: 100%;
    background: linear-gradient(to right, #34aaaa, #035097);
    border-radius: 30px;
    transition: 0.5s;
}

.input-group{
    top: 180px;
    position: absolute;
    width: 280px;
    transition: 0.5s;
    margin-top: 10%;
}

.input-field{
    color: #aedcf4c8;
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid rgba(254, 253, 253, 0.729);
    outline: none;
    background: transparent;
}

.submit-btn{
    color: beige;
    width: 80%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: 20px auto;
    background: linear-gradient(to right, #34aaaa, #035097);
    border: 0;
    outline: none;
    border-radius: 30px;
}

.check-box{
    margin: 10px 10px 10px 0;
}

span{
    color: rgb(174, 199, 241);
    font-size: 12px;
    bottom: 85px;
    position: absolute;
}

.fp {
    display: block;
    padding: 8px;
    border: 1px solid rgb(245, 243, 243);
    margin-top: 10%;
    color:  rgba(223, 238, 238, 0.593);
    text-decoration: none;
    font-size: small;
    text-align: center;
    transition: 0.4s all;
}

a:hover {
    background: #011313a4;
}


#login{
    left: 50px;
}

#register{
    left: 450px;
}